<!-- opala -->

<header class="header-right"></header>
<header class="header-left"></header>
<aside class="sidebar"></aside>
<div class="inputField">
  <input type="text" class="input" placeholder="Unesite vozilo, registracijsku oznaku, kod">
  <div class="search-icon-div">
    <img src="../../assets/img/search.svg" class="search-icon">
  </div>
</div>
<div class="modelMenu">
  <div class="modelMenu-field">
    <div class="modelMenu-text">Tip vozila</div>
    <div class="modelMenu-dropdownField">
      <img src="../../assets/img/dropdown.svg" class="modelMenu-dropdownIcon">
    </div>
  </div>
</div>
<button (click)="dodatniFilteri()" class="dodatniFilteri">
  <div class="dodatniFilteri-text">Dodatni filteri</div>
  <div class="downArrow">
    <img src="../../assets/img/downArrow.svg" class="downArrow-icon">
  </div>
</button>
<table class="table">
  <thead>
  <tr>
    <th class="header1"></th>
    <th class="headers-in-row" *ngFor="let h of headers">
      <div class="header-title">{{h}}</div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of carNew" class="data-row">
    <td class="check-td">
      <div class="check-td-div">
        <input type="checkbox" class="checkbox-body">
      </div>
    </td>
    <td class="name">
      <div class="text-field">{{c.name}}</div>
    </td>
    <td class="id">
      <div class="text-field">{{c.id}}</div>
    </td>
    <td class="model">
      <div class="text-field">{{c.model}}</div>
    </td>
    <td class="regDate">
      <div class="text-field">{{c.regDate}}</div>
    </td>
    <td class="servDate">
      <div class="text-field">{{c.servDate}}</div>
    </td>
    <td class="cost">
      <div class="text-field">{{c.cost}}</div>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr class="foot-row">
    <div class="action">
      <div class="action-check">
        <div class="action-check-field">
          <input type="checkbox" class="action-checkbox">
        </div>
      </div>
      <div class="take-action-text">Odaberi akciju</div>
      <div class="select">
        <div class="select-text">Akcija</div>
        <div class="dropdown-icon">
          <img src="../../assets/img/dropdown.svg" class="dd-icon">
        </div>
      </div>
    </div>
    <button class="addVehicle-button" (click)="addVehicle()">
      <div class="action-button-icon">
        <img src="../../assets/img/plus.svg" class="plus-icon">
      </div>
      <div class="action-button-text">Dodaj vozilo</div>
    </button>
  </tr>
  </tfoot>
</table>


<div class="licitacija">
  <a href="#" class="fill-div">
    <div class="licitacija-div">
      <div class="licitacija-text">Licitacija</div>
    </div>
    <img src="../../assets/img/licitation-rectangle.svg" class="lRec">
  </a>
</div>


<div class="vozila">
  <a href="#" class="fill-div">
    <div class="vozila-div">
      <div class="vozila-text">Vozila</div>
    </div>
    <img src="../../assets/img/vehicle-rectangle.svg" class="vRec">
  </a>
</div>

<div class="car">
  <img src="../../assets/img/car.svg" class="car-icon">
</div>
<div class="line"></div>
<div class="pie-chart">
  <img src="../../assets/img/piechart.svg" class="pie-chart-icon">
</div>


