.navbar {
  position: absolute;
  width:1120px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #2F493F;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.vozila {
  display: inline-flex;
  position: absolute;
  width: 139px;
  height: 48px;
  left: 112px;
  top: 32px;
  border-radius: 20px 20px 0px 0px;
  align-items: center;
  justify-content: center;
  background:#fff;
  cursor:pointer;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
}

.vozila-right-curve, .licitacija-right-curve {
  position: absolute;
  right: -20px;
  top: 0px;
  height: 100%;
  width: 20px;
  background: #fff;
}

.vozila-right-curve::before, .licitacija-right-curve::before {
  content: "";
  right: 0;
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  border-bottom-left-radius: 20px;
}

.licitacija-right-curve::before{
  background: #2F493F;
}

.vozila-right-curve::before{
  background: #2F493F;

}

.licitacija b.right-curve, .vozila b.right-curve {
  display:block;
}

.licitacija{
  display: inline-flex;
  border-radius: 20px 20px 0px 17px;
  position: absolute;
  width: 156px;
  height: 48px;
  left: 251px;
  top: 32px;
  background: #EDF3EF;
  align-items: center;
  justify-content: center;
  cursor:pointer;
}

.licitacija-right-curve{
  background:#EDF3EF;
}


.vozila-right-curve{
  background:#fff;

}

.sidebar{
  position: fixed;
  display:flex;
  width: 80px;
  height:100vh;
  background: #122218;
  border-top-right-radius: 55px;
  align-items: center;
  justify-content: center;
}

.header-right{
  position: fixed;
  width: 100%;
  height: 80px;
  background: #122218;
  left: 80px;
  top: 0px;
}

.main-content{
  top:80px;
  left:80px;
  position:absolute;
  width:1144px;
  height:auto;
  margin: 24px 0 36px 32px;

}

.car{
  position: absolute;
  width: 24px;
  height: 24px;
  top:111px;
}

.car-icon{
  width:27px;
  height:17px;
}

.pie-chart{
  position: absolute;
  width: 24px;
  height: 24px;
  left: 28px;
  top: 167px;
}

.pie-chart-icon{
  width:21.5px;
  height:21.5px;
}

.line{
  position: absolute;
  width: 32px;
  height: 0px;
  left: 24px;
  top: 151px;
  border: 1px solid #B6B6B6;
}

.table{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  border-collapse: collapse;
  position: relative;
  top:24px;
}

body{
  position:relative;
}

thead{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 1144px;
  height: 56px;
  background: #EDF3EF;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
  position:relative;
}

.headers-in-row{
  flex-direction:column;
  align-items: flex-start;
  padding: 0px;
  width: 181.33px;
  height: 56px;
  flex: none;
  flex-grow: 1;
  text-align:left;
position:relative;

}

.header-title{
  width: 149.33px;
  height: 24px;
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #122218;
  flex: none;
  flex-grow: 1;
  margin:auto;
}


.header1{
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 56px;
  height: 56px;
  flex: none;
  flex-grow: 0;
}

.data-row{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 1144px;
  height: 52px;
  background: #FFFFFF;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
  border-bottom:1px solid rgba(0, 0, 0, 0.12);
  position:relative;
}

.check-td{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 56px;
  height: 52px;
  flex: none;
  flex-grow: 0;
  position:relative;
}

.name, .id, .model, .regDate, .servDate, .cost{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 181.33px;
  height: 52px;
  flex: none;
  flex-grow: 1;
  position:relative;
}

.td-div{
  width: 149.33px;
  height: 24px;
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #383B43;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
  margin:auto;
  position:relative;
}

.edit{
  background: #2F493F;
  width:22px;
  height:22px;
  border-radius:7px;
  align-items:center;
  justify-content: center;
  display:flex;
  float:right;
  cursor:pointer;
  position:relative;
}

.edit-icon{
  width:11px;
  height:11px;
}

.delete{
  float:right;
  display:flex;
  left:6px;
  position:relative;
  cursor:pointer;
}

.check-td-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: none;
  flex-grow: 0;
  margin:auto;
  position:relative;
}

.checkbox-body{
  background: #383B43;
  width:18px;
  height:18px;
  padding: 16px 16px 15px;
  gap: 10px;
}

.button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 24px 10px 16px;
  gap: 8px;
  width: 146px;
  height: 40px;
  background: #122218;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  position:relative;
}

.action{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 0px;
  gap: 8px;
  width: 990px;
  height: 56px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.action-check{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 56px;
  height: 56px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.action-check-field{
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
}

.action-checkbox{
  width:18px;
  height:18px;
  background: #383B43;
}

.take-action-text{
  width: 109px;
  height: 24px;
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #383B43;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.select{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px 12px 24px;
  gap: 16px;
  height: 48px;
  border: 1px solid #B6B6B6;
  border-radius: 8px;
  width:160px;
}

.select-text{
  width: 80px;
  height: 24px;
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #555A66;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.dropdown-icon{
  width: 24px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align:center;
}

.dd-icon{
  width:7.18px;
  height:4.59px;

}

.addVehicle-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 24px 10px 16px;
  gap: 8px;
  width: 146px;
  height: 40px;
  background: #122218;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  cursor:pointer;
}


.action-button-icon{
  width: 18px;
  height: 18px;
  flex: none;
  order: 0;
  flex-grow: 0;
  display:inline-flex;

}

.plus-icon{
  height:12px;
  width:12px;
  margin:auto;
}

.action-button-text{
  width: 80px;
  height: 20px;
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.foot-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 1144px;
  height: 88px;
  background: #FFFFFF;
  flex: none;
  order: 20;
  align-self: stretch;
  flex-grow: 0;
  position:fixed;
  top:603px;
  bottom:36px;
}

tfoot{
  position:fixed;
  width: 1144px;
  height: 88px;
}

.inputField{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px 12px 24px;
  gap: 16px;
  height: 48px;
  border: 1px solid #B6B6B6;
  border-radius: 8px;
  width: 471px;
}

.input{
  width: 391px;
  height: 24px;
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #555A66;
  flex: none;
  order: 0;
  flex-grow: 1;
  border:none;
}

.search-icon-div{
  width: 24px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.search-icon{
  width:20.92px;
  height:20.92px;
}

.modelMenu{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 160px;
  height: 48px;
}

.modelMenu-text{
  width: 80px;
  height: 24px;
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #555A66;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.modelMenu-dropdownField{
  width: 24px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align:center;
}

.modelMenu-dropdownIcon{
  width: 7.18px;
  height: 4.59px;
}

.modelMenu-field{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px 12px 24px;
  gap: 16px;
  height: 48px;
  border: 1px solid #B6B6B6;
  border-radius: 8px;
}

.dodatniFilteri{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 24px 14px 16px;
  gap: 8px;
  width: 156px;
  height: 48px;
  background: #122218;
  border-radius: 16px;
  float:right;
  cursor:pointer;
}

.dodatniFilteri-text{
  width: 90px;
  height: 20px;
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.downArrow{
  width: 18px;
  height: 18px;
  flex: none;
  display:flex;
  order: 1;
  flex-grow: 0
}


.notif-rectangle{
  position: absolute;
  width: 32px;
  height: 32px;
  left: 1144px;
  top: 24px;
  background: #2F493F;
  border-radius: 12px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.notif, .htune, .acc{
  width: 16px;
  height: 16px;
}

.htune-rectangle{
  position: absolute;
  width: 32px;
  height: 32px;
  left: 1184px;
  top: 24px;
  background: #2F493F;
  border-radius: 12px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.acc-rectangle{
  position: absolute;
  width: 32px;
  height: 32px;
  left: 1224px;
  top: 24px;
  background: #2F493F;
  border-radius: 12px;
  display:flex;
  align-items: center;
  justify-content: center;
}


.lic-template{
  position: absolute;
  width: 317px;
  height: 20px;
  left: 482px;
  top: 350px;
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
  color: #000000;
  background-color: red;
}

#lic{
  width:calc(1280px - 80px);
  height:calc(720px - 80px);
  top:80px;
  left:80px;
  position:absolute;
  background-color:lightblue;
  align-items: center;
  justify-content: center;
  text-align:center;
  display:flex;
}

.confirmation-dialog{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 48px 32px 32px;
  gap: 24px;
  position: relative;
  width: 360px;
  height: 288px;
  background: #F6FAFF;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.15), 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  box-sizing: border-box;
  display:none;
}
.cd-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 296px;
  height: 144px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.warning{
  width: 40px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.warning-title{
  width: 268px;
  height: 32px;
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #383B43;
  mix-blend-mode: normal;
  flex: none;
  order: 1;
  flex-grow: 0;
  justify-content: center;


}
.warning-text{
  width: 296px;
  height: 40px;
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.25px;
  color: #555A66;
  mix-blend-mode: normal;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.cd-buttons{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 148px;
  height: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.no-btn, .yes-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  gap: 10px;
  width: 66px;
  height: 40px;
  border-radius: 8px;
  flex: none;
  flex-grow: 0;
  border:0;
  outline:0;
}

.yes-btn{
  background: #E5E5E5;
  order:1;
}

.no-btn{
  background:#2F493F;
  order:0;
}

.no-btn-text, .yes-btn-text{
  width: 18px;
  height: 20px;
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.no-btn-text{
  color: #FFFFFF;
}

.yes-btn-text{
  color: #000000;
}

.additional-filters-buttons{
  position: absolute;
  height: 72px;
  left: 111px;
  background: lightblue;
}
